section{
    font-family: Georgia;
    text-align: center;
}
.banerFooter{
    background-color: #BA6B6C;
    color: white;
    padding: 7px;
}
.boczny{
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
}
#srodkowy{
    background-color: mistyrose;
    width: 60%;
    height: 500px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}
#dane{
    background-color: mistyrose;
    padding: 50px;
}
#srodek{
    display: flex;
}
body{
    margin: 0px;
    width: 100%;
}
ol{
    list-style-type: upper-roman;
}
li{
    text-align: left;
}
h2::first-letter{
    font-size: 170%;
    color: maroon;
}
table{
    margin: auto;
    width: 80%;
    border: 1px;
    border-color: maroon;
    border-style: solid;
}
img{
    height: 120px;
    margin: 7px;
    box-shadow: 7px 7px 7px dimgray;
}