body{
    font-family: Helvetica;
}
img{
    float: left;
    padding: 30px;
}
#baner, footer{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}
#main{
    display: flex;
    flex-wrap: wrap;
}
#lewy{
    width: 80%;
}
#menu{
    background-color: peru;
    color: white;
    height: 40px;
    padding-top: 20px;
}
#glowny{
    height: 700px;
    font-size: 120%;
    overflow: auto;
}
#prawy{
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
}
a{
    color: #DDD;
    margin-left: 90px;
    font-size: 140%;
    text-decoration: none;
}
a:hover{
    color: white;
}
