body{
    font-family: Verdana;
}
#baner, footer{
    background-color:#004D40 ;
    color: white;
    padding:10px;
    text-align: center;
}
#main{
    flex-wrap: wrap;
    display: flex;
}
#lewy{
    background-color: #80CBC4;
    color: white;
    height: 500px;
    width: 30%;
}
#srodek{
    background-color: #E0F2F1;
    height: 500px;
    width: 30%;
    text-align: center;
}
#prawy{
    width: 40%;
    padding: 0px;
}
.prawy{
    height: 250px;
}
#prawy-gorny{
    background-color: #E0F2F1;
}
#prawy-dolny{
    background-color: #B2DFDB;
}
h3{
    text-align: center;
}
img{
    padding: 5px;
    height: 150px;
    border: 1px;
    border-style: dotted;
    border-color: #004D40;
    border-radius: 5px;
}
input{
    margin: 10px;
}